/* CSS for our shop */

.shop-header {
    background-image: url('https://previews.123rf.com/images/jickaro/jickaro2208/jickaro220800573/190465639-sparkles-glitter-on-branches-in-a-pattern-light-silver-blur-background-template-for-christmas-and.jpg');
    background-size: cover;
    height: 700px;
    color: white;
}

.shop-stats{
    color: white;
}